[Unit]
Description=Emby Server is a home media server built using other popular open source technologies.
After=network.target

[Service]
EnvironmentFile=/etc/conf.d/emby-server
WorkingDirectory=/var/lib/emby-server
ExecStart=/usr/bin/mono /opt/emby-server/MediaBrowser.Server.Mono.exe -programdata $PROGRAM_DATA -ffmpeg $FFMPEG -ffprobe $FFPROBE
User=emby
Group=emby
Restart=on-failure

[Install]
WantedBy=multi-user.target
